In [1]:
import pandas as pd
import numpy as np

In [2]:
base_covid = pd.read_csv('base_covid.csv')

In [3]:
base_covid.head(4)

,Unnamed: 0,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,...,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana,UNF,UF,Valida
0,0,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-25,9,...,0.0,0,0,0,NaN,NaN,NaN,Rondônia,RO,validação
1,1,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-26,9,...,0.0,0,0,0,NaN,NaN,NaN,Rondônia,RO,validação
2,2,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-27,9,...,0.0,0,0,0,NaN,NaN,NaN,Rondônia,RO,validação
3,3,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-28,9,...,0.0,0,0,0,NaN,NaN,NaN,Rondônia,RO,validação

In [4]:
base_covid = base_covid.drop(columns = ['Unnamed: 0'])

In [5]:
base_covid.UF.value_counts()[1:2]

SP    515043
Name: UF, dtype: int64

# Selecionando dados apenas de São Paulo

In [6]:
base_covid_sp = base_covid[base_covid['UF'] == 'SP']

In [7]:
base_covid_sp.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana,UNF,UF,Valida
2628185,Sudeste,SP,NaN,35,NaN,NaN,NaN,2020-02-25,9,45919049.0,0.0,0,0,0,NaN,NaN,NaN,São Paulo,SP,Sem informação
2628186,Sudeste,SP,NaN,35,NaN,NaN,NaN,2020-02-26,9,45919049.0,1.0,1,0,0,NaN,NaN,NaN,São Paulo,SP,Sem informação
2628187,Sudeste,SP,NaN,35,NaN,NaN,NaN,2020-02-27,9,45919049.0,1.0,0,0,0,NaN,NaN,NaN,São Paulo,SP,Sem informação
2628188,Sudeste,SP,NaN,35,NaN,NaN,NaN,2020-02-28,9,45919049.0,1.0,0,0,0,NaN,NaN,NaN,São Paulo,SP,Sem informação
2628189,Sudeste,SP,NaN,35,NaN,NaN,NaN,2020-02-29,9,45919049.0,2.0,1,0,0,NaN,NaN,NaN,São Paulo,SP,Sem informação

In [8]:
base_covid_sp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 515043 entries, 2628185 to 3143227
Data columns (total 20 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   regiao                  515043 non-null  object
 1   estado                  515043 non-null  object
 2   municipio               513420 non-null  object
 3   coduf                   515043 non-null  int64
 4   codmun                  514216 non-null  float64
 5   codRegiaoSaude          513420 non-null  float64
 6   nomeRegiaoSaude         513420 non-null  object
 7   data                    515043 non-null  object
 8   semanaEpi               515043 non-null  int64
 9   populacaoTCU2019        514247 non-null  float64
 10  casosAcumulado          515043 non-null  float64
 11  casosNovos              515043 non-null  int64
 12  obitosAcumulado         515043 non-null  int64
 13  obitosNovos             515043 non-null  int64
 14  Recuperadosnovos        0 non-null       float64
 15  emAcompanhamentoNovos   0 non-null       float64
 16  interior/metropolitana  513420 non-null  float64
 17  UNF                     515043 non-null  object
 18  UF                      515043 non-null  object
 19  Valida                  515043 non-null  object
dtypes: float64(7), int64(5), object(8)
memory usage: 82.5+ MB

In [9]:
base_covid_sp.columns

Index(['regiao', 'estado', 'municipio', 'coduf', 'codmun', 'codRegiaoSaude',
       'nomeRegiaoSaude', 'data', 'semanaEpi', 'populacaoTCU2019',
       'casosAcumulado', 'casosNovos', 'obitosAcumulado', 'obitosNovos',
       'Recuperadosnovos', 'emAcompanhamentoNovos', 'interior/metropolitana',
       'UNF', 'UF', 'Valida'],
      dtype='object')

## Selecionando colunas

In [10]:
base_covid_sp_selecionado = base_covid_sp[['regiao', 'estado', 'municipio', 'coduf', 'codmun', 'codRegiaoSaude',
       'nomeRegiaoSaude', 'data', 'semanaEpi', 'populacaoTCU2019',
       'casosAcumulado', 'casosNovos', 'obitosAcumulado', 'obitosNovos',
       'Recuperadosnovos', 'emAcompanhamentoNovos', 'interior/metropolitana', 'UF']]

In [11]:
base_covid_sp_selecionado.head(5)

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana,UF
2628185,Sudeste,SP,NaN,35,NaN,NaN,NaN,2020-02-25,9,45919049.0,0.0,0,0,0,NaN,NaN,NaN,SP
2628186,Sudeste,SP,NaN,35,NaN,NaN,NaN,2020-02-26,9,45919049.0,1.0,1,0,0,NaN,NaN,NaN,SP
2628187,Sudeste,SP,NaN,35,NaN,NaN,NaN,2020-02-27,9,45919049.0,1.0,0,0,0,NaN,NaN,NaN,SP
2628188,Sudeste,SP,NaN,35,NaN,NaN,NaN,2020-02-28,9,45919049.0,1.0,0,0,0,NaN,NaN,NaN,SP
2628189,Sudeste,SP,NaN,35,NaN,NaN,NaN,2020-02-29,9,45919049.0,2.0,1,0,0,NaN,NaN,NaN,SP

# Transformando dados

In [12]:
base_covid_sp_selecionado['municipio'] = base_covid_sp_selecionado.municipio.fillna('0')

C:\Users\janaina\AppData\Local\Temp/ipykernel_6980/3854383358.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_covid_sp_selecionado['municipio'] = base_covid_sp_selecionado.municipio.fillna('0')

In [13]:
base_covid_sp_selecionado['municipio'] = base_covid_sp_selecionado.municipio.fillna('0')

C:\Users\janaina\AppData\Local\Temp/ipykernel_6980/361665133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_covid_sp_selecionado['municipio'] = base_covid_sp_selecionado.municipio.fillna('0')

In [14]:
base_covid_sp_selecionado['codmun'] = base_covid_sp_selecionado.codmun.fillna('0')

C:\Users\janaina\AppData\Local\Temp/ipykernel_6980/2936647109.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_covid_sp_selecionado['codmun'] = base_covid_sp_selecionado.codmun.fillna('0')

In [15]:
base_covid_sp_selecionado['codRegiaoSaude'] = base_covid_sp_selecionado.codRegiaoSaude.fillna('0')

C:\Users\janaina\AppData\Local\Temp/ipykernel_6980/913872779.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_covid_sp_selecionado['codRegiaoSaude'] = base_covid_sp_selecionado.codRegiaoSaude.fillna('0')

In [16]:
base_covid_sp_selecionado['nomeRegiaoSaude'] = base_covid_sp_selecionado.nomeRegiaoSaude.fillna('0')

C:\Users\janaina\AppData\Local\Temp/ipykernel_6980/4181564799.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_covid_sp_selecionado['nomeRegiaoSaude'] = base_covid_sp_selecionado.nomeRegiaoSaude.fillna('0')

In [17]:
base_covid_sp_selecionado = base_covid_sp_selecionado.fillna(0)

In [18]:
base_covid_sp_selecionado.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana,UF
2628185,Sudeste,SP,0,35,0,0,0,2020-02-25,9,45919049.0,0.0,0,0,0,0.0,0.0,0.0,SP
2628186,Sudeste,SP,0,35,0,0,0,2020-02-26,9,45919049.0,1.0,1,0,0,0.0,0.0,0.0,SP
2628187,Sudeste,SP,0,35,0,0,0,2020-02-27,9,45919049.0,1.0,0,0,0,0.0,0.0,0.0,SP
2628188,Sudeste,SP,0,35,0,0,0,2020-02-28,9,45919049.0,1.0,0,0,0,0.0,0.0,0.0,SP
2628189,Sudeste,SP,0,35,0,0,0,2020-02-29,9,45919049.0,2.0,1,0,0,0.0,0.0,0.0,SP

# Alterando tipo de dados

In [19]:
base_covid_sp_selecionado.dtypes

regiao                     object
estado                     object
municipio                  object
coduf                       int64
codmun                     object
codRegiaoSaude             object
nomeRegiaoSaude            object
data                       object
semanaEpi                   int64
populacaoTCU2019          float64
casosAcumulado            float64
casosNovos                  int64
obitosAcumulado             int64
obitosNovos                 int64
Recuperadosnovos          float64
emAcompanhamentoNovos     float64
interior/metropolitana    float64
UF                         object
dtype: object

In [20]:
colns = base_covid_sp_selecionado.select_dtypes(include=np.float64)

In [21]:
colns.columns

Index(['populacaoTCU2019', 'casosAcumulado', 'Recuperadosnovos',
       'emAcompanhamentoNovos', 'interior/metropolitana'],
      dtype='object')

In [22]:
base_covid_sp_selecionado[['populacaoTCU2019', 'casosAcumulado', 'Recuperadosnovos',
       'emAcompanhamentoNovos', 'interior/metropolitana']] = base_covid_sp_selecionado[['populacaoTCU2019', 'casosAcumulado', 'Recuperadosnovos',
       'emAcompanhamentoNovos', 'interior/metropolitana']].astype(int)

In [23]:
base_covid_sp_selecionado

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana,UF
2628185,Sudeste,SP,0,35,0,0,0,2020-02-25,9,45919049,0,0,0,0,0,0,0,SP
2628186,Sudeste,SP,0,35,0,0,0,2020-02-26,9,45919049,1,1,0,0,0,0,0,SP
2628187,Sudeste,SP,0,35,0,0,0,2020-02-27,9,45919049,1,0,0,0,0,0,0,SP
2628188,Sudeste,SP,0,35,0,0,0,2020-02-28,9,45919049,1,0,0,0,0,0,0,SP
2628189,Sudeste,SP,0,35,0,0,0,2020-02-29,9,45919049,2,1,0,0,0,0,0,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3143223,Sudeste,SP,Estiva Gerbi,35,355730.0,35141.0,BAIXA MOGIANA,2022-05-27,21,11304,1158,2,36,0,0,0,0,SP
3143224,Sudeste,SP,Estiva Gerbi,35,355730.0,35141.0,BAIXA MOGIANA,2022-05-28,21,11304,1159,1,36,0,0,0,0,SP
3143225,Sudeste,SP,Estiva Gerbi,35,355730.0,35141.0,BAIXA MOGIANA,2022-05-29,22,11304,1159,0,36,0,0,0,0,SP
3143226,Sudeste,SP,Estiva Gerbi,35,355730.0,35141.0,BAIXA MOGIANA,2022-05-30,22,11304,1159,0,36,0,0,0,0,SP
3143227,Sudeste,SP,Estiva Gerbi,35,355730.0,35141.0,BAIXA MOGIANA,2022-05-31,22,11304,1159,0,36,0,0,0,0,SP

In [24]:
base_covid_sp_selecionado.dtypes

regiao                    object
estado                    object
municipio                 object
coduf                      int64
codmun                    object
codRegiaoSaude            object
nomeRegiaoSaude           object
data                      object
semanaEpi                  int64
populacaoTCU2019           int32
casosAcumulado             int32
casosNovos                 int64
obitosAcumulado            int64
obitosNovos                int64
Recuperadosnovos           int32
emAcompanhamentoNovos      int32
interior/metropolitana     int32
UF                        object
dtype: object

In [25]:
base_covid_sp_selecionado = base_covid_sp_selecionado[base_covid_sp_selecionado['municipio']!='0']

In [26]:
base_covid_sp_selecionado

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana,UF
2628470,Sudeste,SP,Adamantina,35,350010.0,35091.0,ADAMANTINA,2020-03-27,13,35068,0,0,0,0,0,0,0,SP
2628471,Sudeste,SP,Adamantina,35,350010.0,35091.0,ADAMANTINA,2020-03-28,13,35068,0,0,0,0,0,0,0,SP
2628472,Sudeste,SP,Adamantina,35,350010.0,35091.0,ADAMANTINA,2020-03-29,14,35068,0,0,0,0,0,0,0,SP
2628473,Sudeste,SP,Adamantina,35,350010.0,35091.0,ADAMANTINA,2020-03-30,14,35068,0,0,0,0,0,0,0,SP
2628474,Sudeste,SP,Adamantina,35,350010.0,35091.0,ADAMANTINA,2020-03-31,14,35068,0,0,0,0,0,0,0,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3143223,Sudeste,SP,Estiva Gerbi,35,355730.0,35141.0,BAIXA MOGIANA,2022-05-27,21,11304,1158,2,36,0,0,0,0,SP
3143224,Sudeste,SP,Estiva Gerbi,35,355730.0,35141.0,BAIXA MOGIANA,2022-05-28,21,11304,1159,1,36,0,0,0,0,SP
3143225,Sudeste,SP,Estiva Gerbi,35,355730.0,35141.0,BAIXA MOGIANA,2022-05-29,22,11304,1159,0,36,0,0,0,0,SP
3143226,Sudeste,SP,Estiva Gerbi,35,355730.0,35141.0,BAIXA MOGIANA,2022-05-30,22,11304,1159,0,36,0,0,0,0,SP
3143227,Sudeste,SP,Estiva Gerbi,35,355730.0,35141.0,BAIXA MOGIANA,2022-05-31,22,11304,1159,0,36,0,0,0,0,SP

In [27]:
base_covid_sp_selecionado.to_csv('BASES_DADOS/base_covid_sp_selecionado.csv',sep=';',index=False)

In [28]:
max(base_covid_sp_selecionado.data)

'2022-05-31'