In [6]:
from selenium import webdriver
from time import sleep
from glob import iglob
import patoolib
import os
import pandas as pd
import datetime
import locale
import calendar
import glob
locale.setlocale(locale.LC_TIME, 'pt_BR.utf8')

'pt_BR.utf8'

# Formatando data

In [21]:
input_data = '31-05-2022'
input_data = datetime.datetime.strptime(input_data, "%d-%m-%Y")
input_data

datetime.datetime(2022, 5, 31, 0, 0)

In [22]:
input_data = input_data.strftime("%d-%b-%Y")
input_data

'31-mai-2022'

In [23]:
input_data = input_data.replace('-','')
#input_data = input_data.replace('Dec','dez')
input_data

'31mai2022'

# Acessando página com selenium

In [10]:
driver = webdriver.Chrome()

In [11]:
driver.set_page_load_timeout(120)

In [12]:
url = "https://covid.saude.gov.br/"

In [13]:
driver.get(url)

In [14]:
driver.find_element_by_xpath('/html/body/app-root/ion-app/ion-router-outlet/app-home/ion-content/div[1]/div[2]/ion-button').click()

C:\Users\janaina\AppData\Local\Temp/ipykernel_10340/1531421421.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath('/html/body/app-root/ion-app/ion-router-outlet/app-home/ion-content/div[1]/div[2]/ion-button').click()

In [25]:
path = 'C:/Users/janaina/Downloads/HIST_PAINEL_COVIDBR_' + input_data +'.rar'
path

'C:/Users/janaina/Downloads/HIST_PAINEL_COVIDBR_31mai2022.rar'

In [26]:
#C:\Users\janaina\Downloads\VOTORANTIM

#HIST_PAINEL_COVIDBR_09dez2021

In [27]:
import os.path
import time

while not os.path.exists(path):
    time.sleep(1)

In [28]:
files_desc = patoolib.extract_archive(path)

patool: Extracting C:/Users/janaina/Downloads/HIST_PAINEL_COVIDBR_31mai2022.rar ...
patool: running "C:\Program Files\WinRAR\rar.EXE" x -- C:\Users\janaina\Downloads\HIST_PAINEL_COVIDBR_31mai2022.rar
patool:     with cwd=.\Unpack_uyr9t45x
patool: ... C:/Users/janaina/Downloads/HIST_PAINEL_COVIDBR_31mai2022.rar extracted to `HIST_PAINEL_COVIDBR_31mai2022' (multiple files in root).

In [29]:
#path2 = r'C:/Users/janaina/Desktop/VOTORANTIM/CURSOS/Extracao_arquivo/HIST_PAINEL_COVIDBR_09dez2021/'
#path2

In [30]:
path2 = r'C:/Users/janaina/Desktop/VOTORANTIM/CURSOS/FORMACAO_POWER_BI/Extracao_arquivo/'+'HIST_PAINEL_COVIDBR_'+input_data+'/'

In [31]:
path2

'C:/Users/janaina/Desktop/VOTORANTIM/CURSOS/FORMACAO_POWER_BI/Extracao_arquivo/HIST_PAINEL_COVIDBR_31mai2022/'

In [32]:
files = glob.glob(path2+"*.csv")
files
dfs = [pd.read_csv(f, sep=";") for f in files]
Covid_dta = pd.concat(dfs,ignore_index=True)

In [33]:
Covid_dta.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0.0,0,0,0,0.0,0.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1.0,1,0,0,1.0,0.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1.0,0,0,0,1.0,0.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1.0,0,0,0,0.0,1.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2.0,1,0,0,1.0,1.0,NaN

In [34]:
Covid_dta.isnull().sum()

regiao                          0
estado                        827
municipio                   39872
coduf                           0
codmun                      23156
codRegiaoSaude              39872
nomeRegiaoSaude             39872
data                            0
semanaEpi                       0
populacaoTCU2019            16716
casosAcumulado                  0
casosNovos                      0
obitosAcumulado                 0
obitosNovos                     0
Recuperadosnovos          4472765
emAcompanhamentoNovos     4472765
interior/metropolitana      39872
dtype: int64

In [35]:
Covid_dta.regiao.value_counts()

Nordeste        1442631
Sudeste         1334220
Sul              952905
Centro-Oeste     376632
Norte            366377
Brasil              827
Name: regiao, dtype: int64

In [36]:
Covid_dta.coduf.value_counts()[:10]

31    680611
35    515043
43    397235
29    333555
41    319227
42    236443
52    197439
22    179927
25    179131
21    174355
Name: coduf, dtype: int64

In [37]:
df_uf = pd.read_csv('BASE_UF/UF.csv',sep=';')
df_uf.head(5)

   Código UF Unidade da Federação  UF
0         11             Rondônia  RO
1         12                 Acre  AC
2         13             Amazonas  AM
3         14              Roraima  RR
4         15                 Pará  PA

In [38]:
df_uf.rename(columns={"Código UF":"coduf","Unidade da Federação":"UNF"},inplace=True)

In [39]:
Covid_dta_uf = pd.merge(Covid_dta,df_uf,how='inner')

In [40]:
Covid_dta_uf.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana,UNF,UF
0,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-25,9,1777225.0,0.0,0,0,0,NaN,NaN,NaN,Rondônia,RO
1,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-26,9,1777225.0,0.0,0,0,0,NaN,NaN,NaN,Rondônia,RO
2,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-27,9,1777225.0,0.0,0,0,0,NaN,NaN,NaN,Rondônia,RO
3,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-28,9,1777225.0,0.0,0,0,0,NaN,NaN,NaN,Rondônia,RO
4,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-29,9,1777225.0,0.0,0,0,0,NaN,NaN,NaN,Rondônia,RO

In [41]:
def funcao(x):
    if x['UNF']=='Rondônia':
        return 'validação'
    else:
        return 'Sem informação'

In [42]:
#Covid_dta_uf['Valida'] = Covid_dta_uf.apply(funcao,axis=1)

In [43]:
def funcao(x):
    if (x['UNF']=='Rondônia') and (x['UF']== 'RO'):
        return 'validação'
    else:
        return 'Sem informação'

In [44]:
Covid_dta_uf['Valida'] = Covid_dta_uf[['UNF','UF']].apply(funcao,axis=1)

In [45]:
Covid_dta_uf

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana,UNF,UF,Valida
0,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-25,9,1777225.0,0.0,0,0,0,NaN,NaN,NaN,Rondônia,RO,validação
1,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-26,9,1777225.0,0.0,0,0,0,NaN,NaN,NaN,Rondônia,RO,validação
2,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-27,9,1777225.0,0.0,0,0,0,NaN,NaN,NaN,Rondônia,RO,validação
3,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-28,9,1777225.0,0.0,0,0,0,NaN,NaN,NaN,Rondônia,RO,validação
4,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-29,9,1777225.0,0.0,0,0,0,NaN,NaN,NaN,Rondônia,RO,validação
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4472760,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-05-27,21,3015268.0,705948.0,1450,11690,0,NaN,NaN,1.0,Distrito Federal,DF,Sem informação
4472761,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-05-28,21,3015268.0,705948.0,0,11690,0,NaN,NaN,1.0,Distrito Federal,DF,Sem informação
4472762,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-05-29,22,3015268.0,705948.0,0,11690,0,NaN,NaN,1.0,Distrito Federal,DF,Sem informação
4472763,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-05-30,22,3015268.0,708552.0,2604,11691,1,NaN,NaN,1.0,Distrito Federal,DF,Sem informação
4472764,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-05-31,22,3015268.0,710694.0,2142,11691,0,NaN,NaN,1.0,Distrito Federal,DF,Sem informação

In [46]:
#/html/body/app-root/ion-app/ion-router-outlet/app-home/ion-content/div[1]/div[1]/div[3]

In [47]:
Covid_dta_uf.to_csv("base_covid.csv")